@import 'fonts.css';

:root {
    --very-light-grey: #f1f0f0;
    --light-grey: #e2dddd;
    --mid-grey: #999999;
    --black: #292930;
    --white: #f9f9ff;
    --mid-transparent-white: #f9f9ffbb;
    --body-copy: 1rem;
    --base-unit: 1rem;
    --base-padding: 1rem 2rem;
    --success: #1d6b1a;
    --warning: #d16f23;
    --danger: #e72323;
    --default-rotation-speed: 16s;
    --saltire-hue: 234deg;
    --saltire-saturation: 71%;
    --saltire-saturation-high: 100%;
    --saltire-saturation-low: 35.5%;
    --saltire-lightness: 48%;
    --saltire-lightness-high: 72%;
    --saltire-lightness-low: 24%;
    --saltire-blue: hsl(var(--saltire-hue), var(--saltire-saturation), var(--saltire-lightness));
    --saltire-blue-light: hsl(var(--saltire-hue), var(--saltire-saturation), var(--saltire-lightness-high));
    --saltire-blue-light-saturated: hsl(var(--saltire-hue), var(--saltire-saturation-high), var(--saltire-lightness-high));
    --saltire-blue-light-desaturated: hsl(var(--saltire-hue), var(--saltire-saturation-low), var(--saltire-lightness-high));
    --saltire-blue-dark: hsl(var(--saltire-hue), var(--saltire-saturation), var(--saltire-lightness-low));
    --saltire-blue-dark-saturated: hsl(var(--saltire-hue), var(--saltire-saturation-high), var(--saltire-lightness-low));
    --saltire-blue-dark-desaturated: hsl(var(--saltire-hue), var(--saltire-saturation-low), var(--saltire-lightness-low));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

label,
button,
.eurostile body,
.eurostile input,
.eurostile textarea,
.eurostile select,
.eurostile{
    font-family: "Eurostile Next LT W04 Regular", sans-serif;
}

html,
body,
input,
textarea,
select,
.univers label,
.univers button,
.univers{
    font-family: "Univers Next W01", sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: "Eurostile Next LT W04 Semibold", sans-serif;
}

.h1,
h1 {
    font-size: 3.177rem;
}

.h2,
h2 {
    font-size: 2.618rem;
}

.h3,
h3 {
    font-size: 1.963rem;
    line-height: 2.618rem;
}

.h4,
h4 {
    padding-top: 0.382rem;
    font-size: 1.618rem;
    line-height: 2.618rem;
    font-feature-settings: "smcp";
}

.h5,
h5 {
    font-size: 1.214rem;
    line-height: 1.5rem;
    font-feature-settings: "smcp";
}

p,
.p{
    font-size: 1rem;
    line-height: 1.5rem;
}


.bigger {
    font-size: 1.214em;
}

.smaller {
    font-size: .75em;
}

.tabular-numbers{
    font-feature-settings: "tnum";
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

button,
iframe,
input,
select,
textarea {
    border: none;
}

body {
    background-color: var(--light-grey);
    color: var(--black);
    font-size: var(--body-copy);
}

option{
    background-color: var(--saltire-hsl);
    color: var(--light-grey)
}



/* Layout */
/* Stack classes from, https://every-layout.dev */
.stack {
    --space: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * + * {
    margin-top: var(--space);
}

/* Row classes, based on stack but horizontal rather than vertical */
.row {
    --space: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row > * {
    flex-grow: 0;
    flex-shrink: 0;
}

.row + .row {
    margin-top: var(--space)
}

.row > * + * {
    margin-left: var(--space);
}

/* Layout utilities */
.flex-root{
    display: flex;
}
.flex-filler {
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-expander {
    flex-grow: 1;
    flex-shrink: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Cards and Panels */
.panel {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.card {
    display: flex;
    height: 100%;
    background-color: var(--white);
    border: var(--mid-grey) 1px solid;
}

.card-selected {
    background-color: var(--very-light-grey);
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*position: relative;*/
    margin: 0.5rem;
    background-color: var(--white);
}

.card-header {
    border-bottom: var(--light-grey) 1px solid;
}

.card-body {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.card-body > * {
    position: absolute;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-description {
    padding: 0.250rem;
    background-color: var(--mid-transparent-white);
}

.card-footer, .panel-footer {
    border-top: var(--light-grey) 1px solid;
    font-family: "Eurostile Next W04 Cn SemiBd I", sans-serif;
}

.card-footer p, .panel-footer p {
    font-family: inherit;
}

/* Forms */
input[type=radio] {
    width: 1rem;
    height: 1rem;
}

input[type=radio] + input[type=radio] {
    margin-left: 1rem;
}

button, .button {
    padding: 1rem;
    min-width: 5rem;
    font-size: 1rem;
    text-align: center;
    font-family: "Eurostile Next LT W04 Regular", sans-serif;
}

.delete-button {
    background-color: var(--danger);
    color: var(--white);
}

.save-button {
    background-color: var(--success);
    color: var(--white);
}

.form-group {
    position: relative;
    border-bottom: var(--black) 2px solid;
    --label-height: 1rem;
    --input-height: 3rem;
    --select-height: 3rem;
    --input-padding: 0.75rem;
    --label-offset: -1.5rem;
}

.form-group label {
    position: absolute;
    height: var(--label-height);
    top: var(--input-padding);
    left: var(--input-padding);
    transition: top 0.3s ease-in-out, color 0.6s ease-in-out;
    color: var(--black);
}

.input-group input,
.input-group textarea,
.select-group select {
    height: var(--input-height);
    width: 100%;
    padding: var(--input-padding);
    background-color: inherit;
    transition: background-color 0.9s ease-out;
}


.input-group input:focus + label,
.input-group textarea:focus + label,
.select-group label {
    top: var(--label-offset);
    color: var(--mid-grey);
}

.input-group input:focus,
.select-group select:focus,
.input-group textarea:focus {
    background-color: var(--very-light-grey);
}

.input-group input:not([value=""]) + label,
.input-group textarea:not(:empty) + label {
    top: var(--label-offset);
    color: var(--mid-grey);
}

.select-group select {
    height: var(--select-height);
}

.select-group label {
    top: var(--label-offset);
}

.radio-group {
    height: 100%;
    display: flex;
    align-items: center;
}

/* Application */
#root {
    height: 100%;
}

.app {
    height: 100%;
    --space: 0;
    align-items: stretch;
}

.header {
    z-index: 1;
    display: flex;
    flex-basis: 9rem;
    align-items: stretch;
    justify-content: flex-start;
    padding-left: var(--space);
    padding-right: var(--space);
    background-color: var(--saltire-blue);
}

.header .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 3rem;
    font-family: "Eurostile Next LT W04 SmBd Cn", sans-serif;
}

.header .active-link {
    background-color: var(--saltire-blue-light);
    color: var(--black);
}

.link {
    color: var(--white);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.edit-link, .edit-link:visited {
    display: block;
    background-color: var(--warning);
    color: var(--white);
}

.link:hover {
    background-color: var(--light-grey);
    color: var(--black);
}

.create-resource {
    --space: 3rem;
}

.panel.master {
    flex-basis: 47.3rem;
    align-content: flex-start;
    overflow: auto;
}

.panel.detail {
    flex-basis: 100vw;
}

.panel-close-link {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: var(--success);
    color: var(--white);
}

.detail {
    background-color: var(--white);
}

.resource {
    flex-basis: 22.6rem;
    flex-grow: 0;
    flex-shrink: 0;
    height: 12rem;
    padding: 0.5rem;
}

.resource-detail form {
    width: 40rem;
    max-width: 40rem;
}

.resource-detail img {
    max-width: 100%;
    height: auto;
}


/* Leaflet */
.leaflet-container {
    height: 100%;
    width: 100%;
}

.map-wrapper {
    position: relative;
    width: calc(100% - 6rem);
    height: 100%;
}

.map-hud-wrapper {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 300px;
    min-height: 100px;
    background-color: var(--white);
}

.hud-row {
    display: flex;
    justify-content: center;
}

.hud-value {
    font-family: 'Univers Next Typewriter W05 Rg', monospace;
    text-transform: uppercase;
}

/* Readout, label value pairs outside forms */

.readout{
    min-width: 22ch;
    display: flex;
    justify-content: space-between;
}

/* Interference */

.interference {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(331deg, #40296155, #e1dfa909), linear-gradient(90deg, rgba(200, 255, 200, 0.08), rgba(255, 200, 200, 0.01) 10%);
    background-size: 400% 400%, 25% 100%;
    animation: Interference 16s ease infinite, Interference 8s linear infinite;
    pointer-events: none;
    opacity: 0.1;
}

@keyframes Interference {
    0% {
        background-position: 19% 0, 0 0;
        /*background-size: 400% 400%, 500% 500%;*/
    }
    50% {
        background-position: 82% 100%, 50% 0;
        /*background-size: 400% 400%, 150% 150%;*/
    }
    100% {
        background-position: 19% 0, 100% 0;
        /*background-size: 400% 400%, 50% 50%;*/
    }
}

.vignette{
    box-shadow: 0px 0px 250px 100px inset rgba(0,0,0,0.5);
    pointer-events: none;
}

.vignette > *{
    z-index: -1;
}

/* Rotation */

.rotate{
    animation-name: Rotate;
    animation-duration: var(--default-rotation-speed);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes Rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}

