:root {
    --white: #e2dddd;
    --black: #292930;
    --saltire-blue: rgb(45, 35, 209);
    --blog-details-background: rgb(230, 230, 240);
    --post-details-background: rgb(230, 230, 240);
    --comment-details-background: rgb(230, 230, 240);
    --placeholder-background: rgb(180, 180, 190);
    --body-copy: 1rem;
    --base-unit: 1rem;
    --base-padding: 1rem 2rem;
}

.header {
    background-color: var(--saltire-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    color: var(--white);
}
