@import './styles/fonts.css';

:root {
    --very-light-grey: #f1f0f0;
    --light-grey: #e2dddd;
    --mid-grey: #999999;
    --black: #292930;
    --white: #f9f9ff;
    --mid-transparent-white: #f9f9ffbb;
    --saltire-blue: rgb(45, 35, 209);
    --body-copy: 1rem;
    --base-unit: 1rem;
    --base-padding: 1rem 2rem;
    --success: #1d6b1a;
    --warning: #d16f23;
    --danger: #e72323;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
}

html, body {
    height: 100%;
}

html,
body,
input,
textarea,
select,
button{
    font-family: "Eurostile Next LT W04 Regular", sans-serif;
}

ul{
    list-style-type: none;
}
img {
    display: block;
}

button,
input,
select,
textarea{
    border: none;
}

body {
    background-color: var(--light-grey);
    color: var(--black);
    font-size: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5{
    font-family: "Eurostile Next LT W04 Semibold", sans-serif;
}

.h1 {
    font-size: 3.177rem;
}

.h2 {
    font-size: 2.618rem;
}

.h3 {
    font-size: 1.963rem;
}

.h4 {
    font-size: 1.618rem;
}

.h5 {
    font-size: 1.214rem;
}

.bigger {
    font-size: 1.214em;
}

.smaller {
    font-size: .75em;
}

/* Layout */
/* Stack classes from, https://every-layout.dev */
.stack {
    --space: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * + * {
    margin-top: var(--space);
}

/* Row classes, based on stack but horizontal rather than vertical */
.row {
    --space: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row > * {
    flex-grow: 0;
    flex-shrink: 0;
}

.row + .row {
    margin-top: var(--space)
}

.row > * + * {
    margin-left: var(--space);
}

/* Layout utilities */
.flex-filler {
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-expander {
    flex-grow: 1;
    flex-shrink: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.panel {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

/* Card */
.card {
    display: flex;
    height: 100%;
    background-color: var(--white);
    border: var(--mid-grey) 1px solid;
}

.card-selected {
    background-color: var(--very-light-grey);
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*position: relative;*/
    margin: 0.5rem;
    background-color: var(--white);
}

.card-header {
    border-bottom: var(--light-grey) 1px solid;
}

.card-body {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.card-body > * {
    position: absolute;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-description {
    padding: 0.250rem;
    background-color: var(--mid-transparent-white);
}

.card-footer {
    border-top: var(--light-grey) 1px solid;
    font-family: "Eurostile Next W04 Cn SemiBd I", sans-serif;
}

/* Forms */
input[type=radio] {
    width: 1rem;
    height: 1rem;
}

input[type=radio] + input[type=radio] {
    margin-left: 1rem;
}

button, .button {
    padding: 1rem;
    min-width: 5rem;
    font-size: 1rem;
    text-align: center;
}

.delete-button{
    background-color: var(--danger);
    color: var(--white);
}

.save-button{
    background-color: var(--success);
    color: var(--white);
}

.form-group {
    position: relative;
    border-bottom: var(--black) 2px solid;
    --label-height: 1rem;
    --input-height: 3rem;
    --select-height: 3rem;
    --input-padding: 0.75rem;
    --label-offset: -1.5rem;
}

.form-group label{
    position: absolute;
    height: var(--label-height);
    top: var(--input-padding);
    left: var(--input-padding);
    transition: top 0.3s ease-in-out, color 0.6s ease-in-out;
    color: var(--black);
}

.input-group input,
.input-group textarea,
.select-group select {
    height: var(--input-height);
    width: 100%;
    padding: var(--input-padding);
    background-color: inherit;
    transition: background-color 0.9s ease-out;
}


.input-group input:focus + label,
.input-group textarea:focus + label,
.select-group label {
    top: var(--label-offset);
    color: var(--mid-grey);
}

.input-group input:focus,
.select-group select:focus,
.input-group textarea:focus {
    background-color: var(--very-light-grey);
}

.input-group input:not([value=""]) + label,
.input-group textarea:not(:empty) + label{
    top: var(--label-offset);
    color: var(--mid-grey);
}

.select-group select {
    height: var(--select-height);
}

.select-group label {
    top: var(--label-offset);
}

.radio-group {
    height: 100%;
    display: flex;
    align-items: center;
}

/* Application */
#root {
    height: 100%;
}

.app {
    height: 100%;
    --space: 0;
    align-items: stretch;
}

.header {
    display: flex;
    flex-basis: 6rem;
    align-items: stretch;
    justify-content: flex-start;
    background-color: var(--saltire-blue);
}

.header .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 3rem;
}

.header .active-link{
    background-color: var(--light-grey);
    color: var(--black);
}

.link {
    color: var(--white);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.edit-link, .edit-link:visited{
    display: block;
    background-color: var(--warning);
    color: var(--white);
}
.link:hover{
    background-color: var(--light-grey);
    color: var(--black);
}

.create-resource {
    --space: 3rem;
}

.panel.master {
    flex-basis: 47.3rem;
    align-content: flex-start;
    overflow: auto;
}

.panel.detail {
    flex-basis: 100vw;
}

.panel-close-link {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: var(--success);
    color: var(--white);
}

.detail {
    background-color: var(--white);
}

.resource {
    flex-basis: 22.6rem;
    flex-grow: 0;
    flex-shrink: 0;
    height: 12rem;
    padding: 0.5rem;
}

.resource-detail form{
    width:40rem;
    max-width: 40rem;
}

.resource-detail img{
    max-width: 100%;
    height: auto; 
}


/* Leaflet */
.leaflet-container{
    width: calc(100% - 6rem);
    height: 100%;
}

/* Interference */

.interference{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(331deg, #40296155, #e1dfa909);
    background-size: 400% 400%;
    animation: Interference 16s ease infinite;
    pointer-events: none;
}

@keyframes Interference {
    0%{
        background-position:19% 0;
    }
    50%{
        background-position:82% 100%
    }
    100%{
        background-position:19% 0
    }
}