    @font-face{
        font-family:"Eurostile Next LT W04 Regular";
        src:url("Fonts/0f8b424e-6433-44e1-bbdd-24be969c4137.woff2") format("woff2"),url("Fonts/a3ba277e-ed89-4e6e-9fcd-fe99bda90799.woff") format("woff");
    }
    @font-face{
        font-family:"Eurostile Next W04 Italic";
        src:url("Fonts/3a987a21-188b-4aff-8540-37621399c81f.woff2") format("woff2"),url("Fonts/79f8477a-4093-4f0a-906c-f80416b1ef0f.woff") format("woff");
    }
    @font-face{
        font-family:"Eurostile Next LT W04 Semibold";
        src:url("Fonts/01115754-faaa-4579-bc72-a3a0c6381962.woff2") format("woff2"),url("Fonts/bfada42a-66da-4fe9-9eea-efe41aec948e.woff") format("woff");
    }
    @font-face{
        font-family:"Eurostile Next W04 SemiBold It";
        src:url("Fonts/4727a916-e15c-47fb-82f4-b90682794e72.woff2") format("woff2"),url("Fonts/43abea26-915d-4243-99cf-465434ef1b37.woff") format("woff");
    }
    @font-face{
        font-family:"Eurostile Next LT W04 Rg Cn";
        src:url("Fonts/b0c84217-4d4b-437f-b55a-e4bbfc582f59.woff2") format("woff2"),url("Fonts/a6726aa3-f5a2-458c-8201-8cd7d140d478.woff") format("woff");
    }
    @font-face{
        font-family:"Eurostile Next W04 Condensed I";
        src:url("Fonts/ce33491d-c120-4db6-9f59-8b1375b68c18.woff2") format("woff2"),url("Fonts/e1a1c991-4323-431c-9a02-7eb9e76e1d95.woff") format("woff");
    }
    @font-face{
        font-family:"Eurostile Next LT W04 SmBd Cn";
        src:url("Fonts/72dd8dec-a7a5-4b02-94d7-f14eb022b6f1.woff2") format("woff2"),url("Fonts/b0bcb8c2-06c6-4795-aaa2-a3e1311fd1fb.woff") format("woff");
    }
    @font-face{
        font-family:"Eurostile Next W04 Cn SemiBd I";
        src:url("Fonts/df0668d7-382b-46e5-81b9-cf990e327038.woff2") format("woff2"),url("Fonts/c9b9c95e-1bf2-419d-80b7-add356081776.woff") format("woff");
    }
    @font-face{
        font-family:"Univers Next W01 Medium";
        src:url("Fonts/e8921ecc-af32-4c3d-9636-dd82b4225e40.woff2") format("woff2"),url("Fonts/20f7bd07-85c9-4687-ab29-0b87584842ff.woff") format("woff");
    }
    @font-face{
        font-family:"UniversNextW01-MediumIt";
        src:url("Fonts/8e26dc86-9708-4a36-89fb-a4416a5b9f5c.woff2") format("woff2"),url("Fonts/c3b66848-d40c-458a-a977-7398cb9c1c82.woff") format("woff");
    }
    @font-face{
        font-family:"Univers Next W01 Bold";
        src:url("Fonts/043eef6e-81ef-483c-831c-7bfd6628554b.woff2") format("woff2"),url("Fonts/7b11912a-986d-462e-b88a-4a1758eb23f1.woff") format("woff");
    }
    @font-face{
        font-family:"UniversNextW01-BoldItal";
        src:url("Fonts/d6e22582-9f22-4c1c-8087-8444c3c03ca2.woff2") format("woff2"),url("Fonts/593b973b-bf84-480a-86ab-c7f15e05cb24.woff") format("woff");
    }
    @font-face{
        font-family:"Univers Next Typewriter W05 Rg";
        src:url("Fonts/2099e282-5216-45bd-905c-b5180bdcf4eb.woff2") format("woff2"),url("Fonts/98e703a3-e4bd-4317-99af-cad588c28a76.woff") format("woff");
    }
